
.MainScreenContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*Add bg image here later*/
}

.TopSpacer {
    flex-grow: 0.3;
}

.MainTextContainer {
    display: flex;
    flex-direction: column;
}

.MainText {  
    font-size: clamp(3vh, 4.5vw, 4.5vw);
    line-height: 0.5;
    color: white;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 0;
    text-shadow: 0 0 15px rgb(0, 0, 0);

    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2vw solid white;
    box-sizing: border-box;
    animation: typing 3s steps(24) forwards, cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.Name {
    color: rgb(135, 255, 255);
}

.Quote {
    font-size: clamp(1.5vh, 1.5vw, 1.5vw);
    line-height: 1;
    text-align: center;
    color: white;
    margin-bottom: 0;
    text-shadow: 0 0 15px rgb(0, 0, 0);
}

.Help {
    position: absolute;
    bottom: 10vh;
    width: 100%; 
    text-align: center;
}
.HelpText {
    font-size: clamp(1.3vh, 1.3vw, 1.3vw);
    color: gray;
    animation: fadeIn 3s ease-in forwards;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

.HomeButtonContainer {
    position: absolute;
    top: 5vh;
    left: 4vw;
    box-shadow: 0 0 15px 1px black;
}

.SocialsButtonContainer {
    position: absolute;
    top: 5vh;
    right: 4vw;
    box-shadow: 0 0 15px 1px black;
}

.AboutMeButtonContainer {
    position: absolute;
    top: 5vh;
    right: 11vw;
    box-shadow: 0 0 15px 1px black;
}

.SkillsButtonContainer {
    position: absolute;
    bottom: 19.5vh;
    left: 21.5vw;
    box-shadow: 0 0 15px 1px black;
}

.ProjectsButtonContainer {
    position: absolute;
    bottom: 19.5vh;
    right: 21.5vw;
    box-shadow: 0 0 15px 1px black;
}

.InventoryBarContainer {
    width: 45vw;
    height: 9vh;
    background-color: rgb(71, 71, 71);
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px black;
    margin-bottom: 17.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.InventorySlot {
    width: 10vw;
    height: 6.5vh;
    background-color: rgb(90, 89, 89);
    border: 1px solid rgb(78, 78, 78);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5vh, 1.1vw, 1.1vw);
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.InventorySlot:hover {
    background-color: rgb(117, 117, 117);
    font-size: clamp(1.5vh, 1.2vw, 1.2vw);
}

@media (max-width: 1100px) {
    .InventoryBarContainer {
        width: 50vw;
        height: 11vh;
    }
    .InventorySlot {
        width: 7vw;
        height: 8.5vh;
    }
    .hideT {
        display: none;
    }
    .AboutMeButtonContainer {
        top: 5vh;
        right: 12vw;
    }
    .SkillsButtonContainer {
        bottom: 21vh;
        left: 18vw;
    }
    .ProjectsButtonContainer {
        bottom: 21vh;
        right: 18vw;
    }
}
@media (max-width: 650px) {
    .InventoryBarContainer {
        width: 60vw;
        height: 8vh;
    }
    .InventorySlot {
        height: 5vh;
        width: 11vw;
    }
    .hideP {
        display: none;
    }
    .AboutMeButtonContainer {
        top: 5vh;
        right: 18.5vw;
    }
    .SkillsButtonContainer {
        bottom: 20vh;
        left: 8vw;
    }
    .ProjectsButtonContainer {
        bottom: 20vh;
        right: 8vw;
    }
}

.resumeSlot {
    background-color: rgb(90, 89, 89);
    /*may be used in future*/
}

.resumeSlot.ActiveSlot {
    background-color: rgb(117, 117, 117);
    font-size: clamp(1.7vh, 1.2vw, 1.2vw);
}

.slotContent {
    text-align: center;
    /*may be used in future*/
}