
.SkillsOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.SkillsOverlayContent {
    position: relative;
    background-color: rgb(71, 71, 71);
    padding: 50px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 45vw;
    height: 55vh;
    bottom: 1vh;
    transform: translateY(-3.7vh);

    pointer-events: auto;
    box-sizing: border-box;
}

.SkillsOverlayContent h2 {
    font-size: clamp(1.8vh, 1.9vw, 1.9vw);
    margin-top: 0.01vh;
    color: rgb(143, 236, 143);
}

.SkillsGrid {
    display: flex;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 10px;
    transform: translateY(4vh);
}

.SkillsCategory {
    flex: 1;
    width: 8vw;
    height: 35vh;
    background-color: gray;
    border-radius: 10px;
    padding: 1vh 1.5vw;
    margin-top: -5vh;
}

.SkillsCategory h3 {
    font-size: clamp(1.5vh, 1.7vw, 1.7vw);
    color: rgb(132, 241, 255);
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    text-align: center;
}

.SkillsCategory ul {
    list-style: none;
    padding: 0vh;
    margin: 0vh;
}

.SkillName {
    font-size: clamp(1.9vh, 1.2vw, 1.2vw);
}

.SkillIcon {
    width: 2vw;
    height: auto;
    object-fit: contain;
    padding-right: 0.5vw;
    transform: translateY(1.5vh);
}

@media (max-width: 1100px) {
    .SkillsOverlayContent {
        width: 50vw;
        height: 50vh;
        bottom: -5vh;
        transform: translateY(-18.5%);
    }
    .SkillsOverlayContent h2 {
        margin-top: -3vh;
        margin-bottom: 3vh;
    }
    .SkillsCategory {
        width: 39vw;
        height: 30vh;
    }
    .SkillName {
        font-size: clamp(1.5vh, 1.5vw, 1.5vw);
    }
    .SkillIcon {
        width: 2vw;
        transform: translateY(0.4vh);
    }
}
@media (max-width: 650px) {
    .SkillsOverlayContent {
        width: 60vw;
        height: 50vh;
        transform: translateY(-6.5vh);
    }
    .SkillsOverlayContent h2 {
        margin-top: -6vh;
        margin-bottom: 2vh;
    }
    .SkillsGrid {
        flex-direction: column;
        align-items: center;
        gap: 7vh;
    }
    .SkillsCategory h3 {
        margin-bottom: 1.2vh;
    }
    .SkillsCategory {
        width: 50vw;
        min-height: 11.5vh;
        background-color: gray;
        border-radius: 10px;
        padding: 0.3vh 2vw;
        margin-top: -4vh;
        margin-bottom: -1vh;
        line-height: 0.8;
    }
    .SkillIcon {
        width: 3.2vw;
        padding-right: 2vw;
        padding-left: 16vw;
    }
}