
.LoadingScreenContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    /*add bg image here later*/
}

.LoadingBarContainer {
    width: 23vw;
    height: 2.5vh;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px black;
    overflow: hidden;
}

.LoadingBarFill {
    width: 0%;
    height: 100%;
    background-color: rgb(94, 158, 196);
    animation: fillBar 2s ease forwards;
}

@keyframes fillBar {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.LoadingScreenText {
    margin-bottom: 0;
    font-size: clamp(3vh, 2.5vw, 2.5vw);
    text-shadow: 0 0 5px rgb(0, 0, 0);
    animation: pulseText 0.5s infinite alternate;
}

@keyframes pulseText {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}