
.ProjectsButton {
    padding: 10px;
}

.ProjectsButton.ActiveButton {
    background-color: rgb(117, 117, 117);
    box-shadow: inset 0 0 5px black;
    transform: translateY(1px);
    font-size: 1.35em;
}