
.IntroScreenContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /*Add bg here later*/
}

.IntroScreenText {
    font-size: clamp(3vh, 2.8vw, 2.8vw);
    color: white;
    text-shadow: 0 0 5px black;
}

.Animate {
    animation: pulseText 1s infinite alternate;
}

@keyframes pulseText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}